.container {
    width: 80%;
    margin: 0 auto;
}

.advert-form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.adverts {
    display: flex;
    flex-direction: column;
}

.advert {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.uploaded-image {
    max-width: 300px;  
    max-height: 300px; 
    width: auto;
    height: auto;
    display: block;
    margin: 10px 0;
}

.page-btn {/* thrown together for test*/
    padding: 5px 10px;
    margin: 0 2px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;  
}
.page-btn:hover {/* indicates hover*/
    background-color: rgb(87, 85, 85);  
    color: white;  
}
.page-btn.active {/* indicates current page */
    background-color: rgb(87, 85, 85);
    color: white;
}